* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:  #301934;
	font-family: 'Montserrat', sans-serif;
}

.footer{
	background-color: #a2c8ec;
	font-weight: bold;
}

.navbar{
	background-color: #a2c8ec;
	font-weight: bold;;
	color: #301934;
}

.height {
	height: 80vh;
}

#checkoutMobile {
	background-color: rgba(162, 200, 236, .6);
}