* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:  #301934;
	font-family: 'Montserrat', sans-serif;
}

#bgcon {
background-color: #f9f9ff;
opacity: 1;
background: repeating-linear-gradient( 45deg, #d2d4ff, #d2d4ff 5px, #f9f9ff 5px, #f9f9ff 25px );}

.footer{
	background-color: #a2c8ec;
}


.navbar{
	background-color: #a2c8ec;
	font-weight: bold;;
	color: #301934;
}

h1 {
	opacity: 100%;
}

